/bin/
**/.classpath
**/.project
*.iml
*.lock
.settings
.gradle
.pmd
**/build
**/bin
**/target
**/directGraph-sparqlmap.ttl
**/*-sparqlmap.nq
**/dm_r2rml.ttl
sparqlmap-gui/node_modules/.bin
sparqlmap-gui/node_modules
*.log
.idea
classes
sparqlmap-test/out
sparqlmap-client/out
sparqlmap-core/out
sparqlmap-mapping/out
